<h1>Editing Book</h1>

<div class="edit-book">
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>

  <div class="field">
  <div class=book_title>Title</div>
  <%= f.text_field :title %>
  </div>

  <div class="field">
  <div class=book_body>Body</div>
  <%= f.text_area :body %>
  </div>

  <div class="actions">
  <%= f.submit 'Update Book' %>
  </div>
<% end %>
</div>

<a class="show_#{book.id}"><%= link_to 'Show', "/books/#{@book.id}" %></a>
<span>|</span>
<a class="back"><%= link_to 'Back', "/books" %></a>
